html, body {
  overflow-x: hidden;
  height: 100%
}

label {
  font-size: 26px;
  position: relative;
}

input {
  text-align: center;
}

div.searchbox {
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 6px;
}

hr {
    border: 1px solid rgba(111, 34, 50);
    margin: 5px 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url("images/vd.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-color: aliceblue;
    
    
}

footer {
  background-color: rgba(111, 34, 50);
  color: black;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 30px;
  box-sizing: border-box;
  position: fixed;
}

header {
    background-color: rgba(111, 34, 50);
    width: 100%;
    padding: 1px;
    box-sizing: border-box;
    left: 0;
    right: 0;
    height: 136px;
}

h3 {
  text-align: center;
  font-family: system-ui;
  font-size: 24px;
  color: rgba(111, 34, 50) ;
}

h1.title {
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: system-ui;
    color: white;
}

input {
    border: 2px gray solid; 
    border-radius: 10px;
    height: 30px;
    padding: 2px;
    text-align: left;
    font-size: 20px;
}

.suggestions {
    list-style: none;
    margin: 5px 0 0;
    padding: 0;
    max-height: 220px;
    background: white;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    overflow-y: auto;
    position: absolute;
    
}

.suggestions li {
    padding: 8px;
    cursor: pointer;
}

header { position: relative; }
.logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 136px;
  height: 136px;
  z-index: 3;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

button {
    font-family: system-ui;
    font-size: 24px;
    border-radius: 12px;
    background-color: rgb(184, 183, 183);
    cursor: pointer;
    flex-shrink: 0;
    height: 40px;

}

.footer__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__column {
    width: 33.33%;
    flex: 1;
}

.footer__left {
    font-family: system-ui; 
    color:white; 
    font-size: 18px; 
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
}

.footer__center {
    font-family: system-ui; 
    color: white; 
    font-size: 18px; 
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jg {
  display: none;
}

.footer__right {
    font-family: system-ui; 
    color: white; 
    font-size: 18px; 
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 1050px) {  /*Complete*/
  header {
    img.logo {
      width: 0px;
      height: 0px;
    }
  }
  img.jg {
    display: inline;
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 760px) {  /*Complete*/
  header {
    h1.title {
      margin: 5px;
    }
  }
}

@media (max-width: 520px) {  /*Complete*/
  header {
    height: 100px;
    h1.title {
      font-size: 25px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 381px) {  /*Complete*/
  header {
    height: 100px;
    h1.title {
      font-size: 25px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 459px) {
  input {
    width: 97%;
    margin-left: 1.5%;
  }
  label {
    text-align: center;
    font-size: 20px;
    display: none
    }
  button {
    margin-right: 1.5%;}
  }

@media (max-width: 800px) {
  body {
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    background-image: url("images/fr.png");
    background-attachment: local;
  }
  footer {
    height: 300px;
    position: static;
    margin-top: auto;
  }
  .footer__grid {
    flex-direction: column;
    gap: 60px;
    text-align: center;
  }

  .footer__left {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .footer__right {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
